* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  height: auto;
  color: #2a2e34;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fafbfc;
}

.h1{
  text-align: center;
  font-size: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

.login-text {
  list-style: none;
  margin: 0 8px;
  color: black;
  font: 14px;
}

.logo-img {
  position: fixed;
  top: 34px;
  left: 34px;
  z-index: 10;
}

img {
  height: auto;
  width: 124px;
}

.right-button {
  background-color: #7b68ee;
  padding: 0px 20px;
  margin: 0 8px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.login-right {
  position: fixed;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-form {
  position: relative;
  height: 868px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.auth-form__main-bg {
  position: absolute;
  height: calc(100% - 17vh);
  width: 100%;
  top: 17vh;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  background: url(https://app-cdn.clickup.com/login__bg.8e44616319b55ac1.svg)
    center 10px no-repeat;
  background-size: cover;
}

.auth-form__main-bg::before {
  content: "";
  display: block;
  position: absolute;
  width: 200%;
  height: 300%;
  top: -100%;
  left: -50%;
  background: url(https://app-cdn.clickup.com/login__bg-dots.4777a8eaedc1248b.svg);
  transform: rotate(-28deg);
}

.auth-form__main-bg::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(https://app-cdn.clickup.com/login__bg-top.f55110285bf7cd54.svg)
    center top no-repeat;
  background-size: 100%;
}

.auth-form__container {
  padding: 0 32px;
  background-color: white;
  height: 400px;
  width: 480px;
  border: 1px solid white;
  border-radius: 10px;
}

.auth-auth-form__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 26px;
}

.auth-form__form {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 26px;
  position: relative;
}

.auth-form__group {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.auth-form__group input:focus{
  border: 1px solid #D6D9DF;
}

.auth-form__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #7b68ee;
  border-radius: 10px;
  height: 50px;
  width: 360px;
  margin-bottom: 26px;
  border: 1px solid #D6D9DF;
}

.auth-form__aside {
  transition: color 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #7b68ee;
  text-align: center;
}

.auth-form__input {
  height: 40px;
  width: 360px;
  border-radius: 9px;
  border: 1px solid #D6D9DF;
  padding: 0 40px;
}

.auth-form__input__label {
  font-size: 11px;
  align-self: flex-start;
  padding: 0px 0px 8px 2px;
  border-radius: 9px;
}

.auth-form__footer {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0 80px;
  text-align: center;
  color: #fffc;
}

.auth-form__main-footer-link {
  font-weight: 500;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  padding-bottom: 1px;
}

.auth-form__main-bot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.auth-form__main-bot-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}

.auth-form__main-bot-text-link {
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  padding-bottom: 1px;
}

.auth-form__icon {
  position: absolute;
  padding-right: 20px;
  bottom: 10px;
}

.icon {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
